<!doctype html>
<html>
<head>
    <title>RestRace</title>
</head>
<body>
<div class="container">

    <div>
		<h2>Inloggen</h2>
		
        <p>
			<label for="emailadres">E-mailadres:</label>
			<input type="text" id="emailadres" name="emailadres" placeholder="E-mailadres" /><br />
			
			<label for="wachtwoord">Wachtwoord:</label>
			<input type="password" id="wachtwoord" name="wachtwoord" placeholder="Wachtwoord" /><br />
			
			<input type="checkbox" id="onthouden" name="onthouden" value="onthouden" /><label for="onthouden">Onthouden</label>
		</p>
			
		<p><button id="btn_inloggen" >Inloggen</button></p>
			
		<p><a href="#" id="link_wachtwoord_vergeten">Wachtwoord vergeten?</a></p>
	
		<p><button id="btn_registreren">Registreren</button></p>
		
		<p>
			<button id="btn_inloggen_facebook">Inloggen met Facebook</button><br />
			<button id="btn_inloggen_google">Inloggen met Google</button>
		</p>
    </div>

</div>
</body>
</html>