<!DOCTYPE html>
<html>
<% include ./shared/head %>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1>Welkom bij Rest Race!</h1>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registreren</a>
        <!--<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>-->
    </div>
</div>
</body>
</html>