<!doctype html>
<html>
<% include ./shared/head %>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Login</h1>

        <% if (message) { %>
        <p><%= message %></p>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post">
            <div class="form-group">
                <label>E-mail adres</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Wachtwoord</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p>Nog geen account? <a href="/signup">Registreren</a></p>
        <p>Of ga naar <a href="/">home</a>.</p>

    </div>


</div>
</body>
</html>