<!doctype html>
<html>
<% include ./shared/head %>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-flag-checkered"></span> Race aanmaken</h1>

        <% if (message) { %>
        <p><%= message %></p>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/races" method="post">
            <div class="form-group">
                <label>Naam</label>
                <input type="text" class="form-control" name="name">
            </div>
			<div class="form-group">
                <label>Starttijd</label>
                <input type="text" class="form-control datepicker" name="startTime">
            </div>
            <div class="form-group">
                <label>Eindtijd</label>
                <input type="text" class="form-control datepicker" name="endTime">
            </div>
			
			<!--heeft volgorde
			starttijd
			eindtijd
			prive-->

            <button type="submit" class="btn btn-warning btn-lg">Race aanmaken</button>
        </form>

    </div>

	<script type="text/javascript" src="js/raceAanmaken.js"></script>
	
</div>
</body>
</html>