<!doctype html>
<html>
<head>
    <title>RestRace</title>
</head>
<body>
<div class="container">

    <div>
		<h2>Races</h2>
		
		<p>
			<ul>
			<% for(var i = 0; i < races.length; i++) {%>
			   <li><%= races[i] %></li>
			<% } %>
			</ul>
		</p>
    </div>

</div>
</body>
</html>