<!doctype html>
<html>
<% include ./shared/head %>
<body>
<div class="container">
    <div class="row">
        <span><strong>Race naam: </strong><%= race.name %></span>
    </div>
    <script type="text/javascript" src="js/race.js"></script>
</div>
</body>
</html>