<!doctype html>
<html>
<% include ./shared/head %>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-flag-checkered"></span> Race aanmaken</h1>

		<br />
		
        <!-- RACE AANMAKEN FORM -->
		
		<div class="form-group">
			<label>Naam</label>
			<input type="text" class="form-control" id="naam">
		</div>
		
		<div class="form-group">
			<label>Start tijd</label> 
			<fieldset>
				<span>Dag</span> 
				<select id="dag_start" name="dag_start" class="dag"/></select>

				<span>Maand</span> 
				<select id="maand_start" name="maand_start" class="maand"/></select>
					
				<span>Jaar</span> 
				<select id="jaar_start"  name="jaar_start" class="jaar"/></select> 
				
				<span>Uur</span> 
				<select id="uur_start"  name="uur_start" class="uur"/></select> 
				
				<span>Minuten</span> 
				<select id="minuten_start"  name="minuten_start" class="minuten"/></select> 	
			</fieldset>
		</div>

		<div class="form-group">
			<label>Eind tijd</label> 
			<fieldset>
				<span>Dag</span>
				<select id="dag_eind" name="dag_eind" class="dag"/></select>

				<span>Maand</span>
				<select id="maand_eind" name="maand_eind" class="maand"/></select>
					
				<span>Jaar</span>
				<select id="jaar_eind"  name="jaar_eind" class="jaar"/></select> 
				
				<span>Uur</span>
				<select id="uur_eind"  name="uur_eind" class="uur"/></select> 
				
				<span>Minuten</span> 
				<select id="minuten_eind"  name="minuten_eind" class="minuten"/></select>
			</fieldset>
		</div>

		<button type="submit" id="btn_raceAanmaken" class="btn btn-success btn-lg">Race aanmaken</button>
 
    </div>

	<script type="text/javascript" src="js/raceAanmaken.js"></script>
	
</div>
</body>
</html>