<!doctype html>
<html>
<% include ./shared/head %>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-flag-checkered"></span> Race aanmaken</h1>

		<br />
		
        <!-- RACE AANMAKEN FORM -->
		
		<div class="form-group">
			<label>Naam</label>
			<input type="text" class="form-control" id="naam">
		</div>
		
		<div class="form-group">
			<label>Start tijd</label>
			<form class="form-inline">
				<input type="text" id="startDate" class="form-control dateField"/>
				<select id="uur_start"  name="uur_start" class="uur form-control timeField"/></select> 
				<span>:</span>
				<select id="minuten_start"  name="minuten_start" class="minuten form-control timeField"/></select>
				<span>uur</span>
			</form>
		</div>
		
		<div class="form-group">
			<label>Eind tijd</label>
			<form class="form-inline">
				<input type="text" id="endDate" class="form-control dateField"/>
				<select id="uur_eind"  name="uur_eind" class="uur form-control timeField"/></select> 
				<span>:</span>
				<select id="minuten_eind"  name="minuten_eind" class="minuten form-control timeField"/></select>
				<span>uur</span>
			</form>
		</div>

		<button type="submit" id="btn_raceAanmaken" class="btn btn-success btn-lg">Race aanmaken</button>
 
    </div>

	<script type="text/javascript" src="js/raceAanmaken.js"></script>
	
</div>
</body>
</html>