<!doctype html>
<html>
<head>
    <title>RestRace</title>
</head>
<body>
<div class="container">

    <div>
		<h2>Registeren</h2>
		
		<p>
			<label for="nickname">Nickname:</label><br />
			<input type="text" id="nickname" name="nickname" placeholder="Nickname" /><br />
				
			<label for="emailadres">E-mailadres:</label><br />
			<input type="text" id="emailadres" name="emailadres" placeholder="E-mailadres" />

			<label for="wachtwoord1">Wachtwoord:</label><br />
			<input type="password" id="wachtwoord1" name="wachtwoord1" placeholder="Wachtwoord" /><br />

			<label for="wachtwoord2">Herhaal wachtwoord:</label><br />
			<input type="password" id="wachtwoord2" name="wachtwoord2" placeholder="Wachtwoord" />
		</p>

		<p><button id="btn_registreren">Registreren</button></p>
    </div>

</div>
</body>
</html>