<!doctype html>
<html>
<head>
    <title>RestRace</title>
</head>
<body>
<div class="container">

    <div>
		<h2>Wachtwoord vergeten</h2>
		
        <p>
			<label for="emailadres">E-mailadres:</label><br />
			<input type="text" id="emailadres" name="emailadres" placeholder="E-mailadres" />
		</p>
			
		<p><button id="btn_verstuur">Verstuur</button></p>
    </div>

</div>
</body>
</html>